<Strings>
    <Text>Взять предмет\n{color 1}{string 0}{color 0}?{s}{s}{s}{s}{s}{s}{branch 0}</Text>
    <Text>Вы не можете нести\nбольше предметов.\n</Text>
    <Text>Полностью заряжено.\n</Text>
    <Text>Достигнут лимит\nсмешивания.\n</Text>
    <Text>BOTU        \n</Text>
    <Text>Боеприпасы нельзя\nиспользовать сами\nпо себе.</Text>
    <Text>Вы взяли:\n{color 1}{string 0}{color 0}.</Text>
    <Text>Незачем использовать\nэто сейчас.\n</Text>
    <Text>Обычные и усиленные\nбоеприпасы нельзя\nиспользовать вместе.\n</Text>
    <Text>После перезарядки\nнеиспользованные\nмины исчезнут.{clear 0}Продолжить?\n\n{s}{s}{s}{s}{s}{s}{branch 0}</Text>
    <Text>Перезарядка невозможна.\nВ обойме ещё есть\nпатроны.</Text>
    <Text>BOTU          \n</Text>
    <Text>BOTU          \n</Text>
    <Text>Создать усиленные\nбоеприпасы?\n{s}{s}{s}{s}{s}{s}{branch 0}</Text>
    <Text>У вас не осталось\nмед. спреев.\n</Text>
    <Text>BOTU          \n</Text>
    <Text>\n</Text>
    <Text>Нож кинжального\nтипа для самообо-\nроны.</Text>
    <Text>SIGPRO SP2009.\nРучная работа.\nСделан в основном{clear 0}из пластика. Очень\nлёгкий. Стреляет\nпатронами 9мм.</Text>
    <Text>M92F Специальный.\nПистолет, сделанный\nспециально для{clear 0}команды ＳＴＡＲＳ\nСтреляет патронами\n9мм.</Text>
    <Text>Benelli M3S. Лёгкий\nкороткоствольный\nдробовик, весьма{clear 0}удобный в переноске.\nСтреляет патронами\n12 калибра</Text>
    <Text>S&amp;W M629C.\nТяжёлый револьвер из\nнержавеющей стали.{clear 0}Классическая модель\nс противовесом для\nуменьшения отдачи.{clear 0}Стреляет патронами\nМагнум 44 калибра.\n</Text>
    <Text>Гранатомёт Hk-p.\nМини-гранатомёт,\nсозданный специально{clear 0}для полиции.\n{clear 0}Заряжен разрывными\nгранатами.\n</Text>
    <Text>Гранатомёт Hk-p.\nМини-гранатомёт,\nсозданный специально{clear 0}для полиции.\n{clear 0}Заряжен\nзажигательными\nгранатами.</Text>
    <Text>Гранатомёт Hk-p.\nМини-гранатомёт,\nсозданный специально{clear 0}для полиции.\n{clear 0}Заряжен кислотными\nгранатами.\n</Text>
    <Text>Гранатомёт Hk-p.\nМини-гранатомёт,\nсозданный специально{clear 0}для полиции.\n{clear 0}Заряжен\nзамораживающими\nгранатами.</Text>
    <Text>Ракетная установка\nM66. Старое, но очень\nмощное оружие.</Text>
    <Text>Грозное оружие.\nЛёгким нажатием\nкурка обрушивает{clear 0}шквал огня на\nпротивника.\n</Text>
    <Text>Тестовая модель,\nсозданная оружейным\nдепартаментом{clear 0}Амбреллы.\nСтреляет особыми\nзарядами с сенсором.</Text>
    <Text>STI EAGLE 6.0.\nПистолет сделанный\nна заказ, специально{clear 0}для соревнований.\nСтреляет патронами\n9мм Парабеллум.</Text>
    <Text>Штурмовая винтовка\nM4A1. Установлен\nОДИНОЧНЫЙ режим.{clear 0}Стреляет патронами\n5.56мм НАТО.\n</Text>
    <Text>Штурмовая винтовка\nM4A1. Установлен\nрежим АВТО.{clear 0}Стреляет патронами\n5.56мм НАТО.\n</Text>
    <Text>Western M37\nСпециальный.\nОснащён особой{clear 0}системой перезарядки.\nЭффективен в ближ-\nнем бою.{clear 0}Стреляет дробью\n12 калибра.</Text>
    <Text>Усиленный SIGPRO.{clear 0}Заряжен усиленными\nпатронами\nПарабеллум 9мм.</Text>
    <Text>Усиленный M92F\nСпециальный.{clear 0}Заряжен усиленными\nпатронами\nПарабеллум 9мм.</Text>
    <Text>Усиленный дробовик.{clear 0}Заряжен усиленными\nпатронами.\n</Text>
    <Text>Миномёт, заряженный\nособыми минами с\nфункцией{clear 0}автонаведения.\n</Text>
    <Text>Патроны 9x19мм\nПарабеллум.{clear 0}Подходят к M92FS\nСпециальному или\nSIGPRO.\n</Text>
    <Text>Патроны Магнум\n44 калибра.\nМощные патроны{clear 0}для револьвера.\nИспользуются для\nS&amp;W M629C.\n</Text>
    <Text>Патроны 12 калибра\nдля дробовика\nBenelli M3S.\n</Text>
    <Text>Разрывные гранаты.\nСтандартные заряды,\nразбрасывающие{clear 0}поражающие элементы\nпри попадании в цель.\n{clear 0}Подходят к\nгранатомёту Hk-p.\n</Text>
    <Text>Зажигательные\nгранаты. Специальные\nзаряды, боеголовка{clear 0}которых наполнена\nмощной и густой\nнапалмовой смесью.{clear 0}Подходят к\nгранатомёту Hk-p.\n</Text>
    <Text>Кислотные гранаты.\nСпециальные заряды,\nбоеголовка которых{clear 0}наполнена кислотой,\nразъедающей живые\nткани.{clear 0}Подходят к\nгранатомёту Hk-p.\n</Text>
    <Text>Замораживающие\nгранаты. Специальные\nзаряды, боеголовка{clear 0}которых наполнена\nультранизкотемпе-\nратурным жидким{clear 0}азотом.\nПодходят к\nгранатомёту Hk-p.</Text>
    <Text>Мины, детонирующие\nпри сближении с\nлюбой целью, кроме{clear 0}владельца, благодаря\nвстроенному сенсору.\nПодходят к миномёту.\n</Text>
    <Text>Патроны 5.56мм\nНато для штурмовой\nвинтовки М4А1.</Text>
    <Text>Патроны 9мм\nПарабеллум, создан-\nные с помощью{clear 0}Зарядного устройства\nс добавлением особо\nмощного пороха.{clear 0}Подходят к M92F\nи SIGPRO.\n</Text>
    <Text>Патроны 12 калибра,\nсозданные, с помощью\nЗарядного устр-тва,{clear 0}с добавлением особо\nмощного пороха.\nПодходят к{clear 0}Benelli M3S.\n</Text>
    <Text>Этот спрей полностью\nвосстановит ваши\nжизненные силы.\n</Text>
    <Text>Редкая трава,\nвосстанавливает\nжизненные силы.{clear 0}Травы можно\nсмешивать для\nусиления их свойств.\n</Text>
    <Text>Редкая трава,\nнейтрализует яд.\n{clear 0}Травы можно\nсмешивать для\nусиления их свойств.\n</Text>
    <Text>Редкая трава, усили-\nвающая действие\nзелёной травы.{clear 0}Травы можно\nсмешивать для\nусиления их свойств.\n</Text>
    <Text>Смесь из 2 зелёных\nтрав.\n</Text>
    <Text>Смесь из 1 зелёной\nи 1 синей травы.\n</Text>
    <Text>Смесь из 1 зелёной\nи 1 красной травы.\n</Text>
    <Text>Смесь из 3 зелёных\nтрав.\n</Text>
    <Text>Смесь из 2 зелёных\nи 1 синей травы.</Text>
    <Text>Смесь из 1 зелёной,\n1 синей и 1 красной\nтравы.</Text>
    <Text>Вмещает до трёх\nмедицинских спреев.\n</Text>
    <Text>Железная рукоятка\nс квадратным\nнаконечником.</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>Карточка ＳＴＡＲＳ\nс фотографией Джилл.\n</Text>
    <Text>BOTU\n</Text>
    <Text>Батарея старого\nтипа, по мощности\nкак современная.</Text>
    <Text>Ручной инструмент с\nнаконечником в виде\nкрюка, которым{clear 0}можно что-нибудь\nподцепить.\n</Text>
    <Text>Многопарный силовой\nкабель. Используется\nв крупном{clear 0}электротранспорте.\n</Text>
    <Text>Предохранитель для\nвысоковольтных цепей{clear 0}крупногабаритного\nтранспорта.\n</Text>
    <Text>В таком состоянии его\nне получится исполь-\nзовать.\n</Text>
    <Text>Смешав её с моторным\nмаслом, вы получите\nидеальное масло для{clear 0}крупногабаритного\nтранспорта.\n</Text>
    <Text>В бумажнике лежит\nкакая-то карточка.\n</Text>
    <Text>Карточка ＳＴＡＲＳ\nс фотографией Брэда.\n</Text>
    <Text>Масло для легковых\nмашин. Его нельзя\nиспользовать как{clear 0}полноценное масло в\nкрупном транспорте.</Text>
    <Text>Смесь масла с дополн.\nприсадкой. Подойдёт\nдля двигателя{clear 0}крупногабаритного\nтранспорта.\n</Text>
    <Text>BOTU\n</Text>
    <Text>Инструмент для\nработы с шестигр.\nдеталями и болтами.</Text>
    <Text>Железная газовая\nтруба. Прочная и\nдлинная.{clear 0}Можно использовать\nкак рычаг.\n</Text>
    <Text>Соединительная го-\nловка для пожарного\nшланга.\n</Text>
    <Text>Шланг с разъёмом\nдля подключения к\nпожарному гидранту.\n</Text>
    <Text>Портативный\nдиктофон с записью\nосмотра пациента.</Text>
    <Text>Бензин для заправки\nзажигалок.\n</Text>
    <Text>В ней закончился\nбензин, а без него\nона бесполезна.\n</Text>
    <Text>Обычная бензиновая\nзажигалка.</Text>
    <Text>Зелёный изумруд.\n\n</Text>
    <Text>Синий сапфир.\n\n</Text>
    <Text>Янтарный шар.\n\n</Text>
    <Text>Обсидиановый шар.\n\n</Text>
    <Text>Хрустальный шар.\n\n</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>Красивая шестерёнка,\nсделанная из золота.\n</Text>
    <Text>Красивая шестерёнка,\nсделанная из серебра.\n</Text>
    <Text>Шестерёнка украшена\nсимволами поклоне-\nния Богу времени.</Text>
    <Text>Предмет из бронзы\nв виде книги.{clear 0}На ней есть надпись:\n‟Источник знаний”.\n</Text>
    <Text>Компас, сделанный\nиз бронзы.\n{clear 0}Тут сказано:\n‟Будущее в моих\n руках”.\n</Text>
    <Text>Питательная среда\nдля приготовления\nвакцины.{clear 0}Её нужно смешать\nс основной вакциной.\n</Text>
    <Text>Основной компонент\nвакцины.\n{clear 0}Её нужно смешать\nс питательной\nсредой.\n</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>Эффективная вакцина\nпротив вирусной\nинфекции.\n</Text>
    <Text>BOTU\n</Text>
    <Text>BOTU\n</Text>
    <Text>Если данное вещество\nсмешать с другими\nхим. компонентами,{clear 0}то получится\nпитательная среда,\nнеобходимая{clear 0}для приготовления\nвакцины.\n</Text>
    <Text>Части оружия.\nПрицел и затвор.\n{clear 0}Оружие невозможно\nсобрать только\nиз этих деталей.\n</Text>
    <Text>Части оружия.\nКазённая часть и\nмагазин.{clear 0}Оружие невозможно\nсобрать только из\nэтих деталей.</Text>
    <Text>Деревянное ложе\nи труба магазина.{clear 0}Оружие невозможно\nсобрать только из\nэтих деталей.</Text>
    <Text>Составные части\nружья револьверного\nтипа. Ствол обрезан.{clear 0}Оружие невозможно\nсобрать только из\nэтих деталей.</Text>
    <Text>BOTU\n</Text>
    <Text>Ожерелье, украшенное\nсимволами поклоне-\nния Богу времени.{clear 0}Рядом с орнаментом\nесть небольшое\nотверстие.\n</Text>
    <Text>Рукоятка с шестигр.\nнаконечником.\nРучка очень ржавая.\n</Text>
    <Text>Подходит к считыва-\nтелю карт в комплексе\nпереработки.\n</Text>
    <Text>Один из компонентов\nдля изготовления\nбоеприпасов.{clear 0}Можно объединить с\nЗарядным устройством\nили с Гранатами.</Text>
    <Text>Один из компонентов\nдля изготовления\nбоеприпасов.{clear 0}Можно объединить с\nЗарядным устройством\nили с Гранатами.</Text>
    <Text>Один из компонентов\nдля изготовления\nбоеприпасов.{clear 0}Можно объединить с\nЗарядным устройством\nили с Гранатами.</Text>
    <Text>Смесь 2-х порций\nпороха A.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 2-х порций\nпороха B.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь из пороха A\nи пороха C.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь из пороха B\nи пороха C.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 2-х порций\nпороха C.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 3-х порций\nпороха A.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 2-х порций\nпороха A и пороха B.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 2-х порций\nпороха B и пороха A.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 3-х порций\nпороха B.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Смесь 3-х порций\nпороха C.{clear 0}Можно объединить с\nЗарядным устр-вом\nили с Гранатами</Text>
    <Text>Объединив этот\nкейс с оружием,\nвы получите{clear 0}бесконечное кол-во\nбоеприпасов.\n</Text>
    <Text>Образец очищенных\nстоков завода.\n{clear 0}Он прошёл тест\nна ПДК.\n</Text>
    <Text>Системный диск, с\nпомощью которого\nможно попасть{clear 0}в цех переработки.\n\n</Text>
    <Text>Dummy         \n</Text>
    <Text>С её помощью я могу\nоткрывать простые\nзамки.\n</Text>
    <Text>Маленький ключик\nс биркой.{clear 0}На ней написано:\n‟Служебный вход”.\n</Text>
    <Text>Кажется, это ключ от\nлазарета.{clear 0}Номер на бирке ‟402”.\n\n</Text>
    <Text>На нём выгравирована\nэмблема ＳＴＡＲＳ\n</Text>
    <Text>BOTU\n</Text>
    <Text>Ключ с орнаментом\nв виде детали\nчасового механизма.\n</Text>
    <Text>Ключ с орнаментом\nв виде детали\nчасового механизма.{clear 0}В верхнюю часть\nключа можно\nвставить круглый{clear 0}предмет.\n</Text>
    <Text>Ключ, оформленный\nв стиле поклонения\nБогу времени.</Text>
    <Text>BOTU\n</Text>
    <Text>Ключ от главных\nворот Раккун-парка.\n</Text>
    <Text>Ключ, найденный у\nнаёмника.{clear 0}На нём написано:\n‟Кладбище\nРаккун-парка”.\n</Text>
    <Text>Маленький ключик\nс железным кольцом.\n{clear 0}На нём написано:\n‟Задние ворота”.\n</Text>
    <Text>К ключу прикреплена\nидентификационная\nкарточка с какой-то{clear 0}специальной\nмаркировкой.</Text>
    <Text>К ключу прикреплена\nпластиковая карточка\nс магнитной полосой.{clear 0}На ней отпечатан\nкакой-то код.\n</Text>
    <Text>Ключ от бутика на\nОкраине города.\n</Text>
    <Text>Я могу сохранить\nсвоё прохождение,\nвставив эту ленту{clear 0}в пишущую машинку.\n</Text>
    <Text>Станок для набивки\nпатронов. Его можно\nиспользовать{clear 0}в сочетании с\nпорохом.\n</Text>
    <Text>Игровые инструкции,\nобъясняющие различ-\nные действия:{clear 0}от использования\nКАРТЫ, до поведения\nв различных{clear 0}ситуациях.\n\n</Text>
    <Text>Руководство по соз-\nданию боеприпасов.\nВ нём рассказывается{clear 0}об использовании\nПороха и Зарядного\nустройства.\n</Text>
    <Text></Text>
    <Text></Text>
</Strings>
